header {
    background-color: rgb(3, 89, 146);
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header .logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
    border-radius: 50%;
  }
  
  header .logo img {
    margin-right: 10px;
  }
  
  header h1 {
    font-size: 20px;
  }
  
  header h1 a {
    color: #fff;
    text-decoration: none;
  }
  
  nav {
    display: flex;
    align-items: center;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    margin-right: 20px;
  }
  
  nav ul.left-nav {
    margin-right: auto;
  }
  
  nav ul.right-nav {
    margin-left: auto;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
  }