body {
  font-family: system-ui;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  background-image: url('fondo5.jpg');
  background-size: 34% auto; /* Ajusta el tamaño de la imagen para que ocupe 1/4 del ancho */
  background-repeat: repeat-x; /* Repite la imagen solo en la dirección horizontal */
  background-position: top center; /* Centra la imagen en la parte superior */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Ajusta el padding para dar más espacio a la izquierda */
  background-color: rgb(3, 89, 146); /* Ajusta el color según tu diseño */
}

header .logo {
  display: flex;
  align-items: center; /* Esto alinea la imagen y el texto verticalmente */
  margin-right: auto; /* Asegura que la logo esté a la izquierda */
}

header .logo img {
  margin-right: 5px; /* Ajusta el margen según sea necesario */
}

header .logo h1 {
  color: white;
  font-size: 30px;
  margin: 0;
}

header nav {
  display: flex;
}

header ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

header ul.left-nav, header ul.right-nav {
  display: flex;
}

header ul.left-nav li, header ul.right-nav li {
  margin: 0 10px;
}

header a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

header ul.left-nav a, ul.right-nav a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-size: 20px;
  font-weight: bold;
}

header a:hover {
  background-color: #007BFF;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  flex-direction: column;
}