@import url('common.css');

/* Variables para el modo claro */
:root {
    --bg-color: white;
    --text-color: #000;
    --button-bg: rgb(3, 89, 146);
    --button-hover-bg: #007BFF;
    --modal-bg: rgba(0, 0, 0, 0.4);
    --modal-content-bg: #fefefe;
}

/* Variables para el modo oscuro */
.dark-mode {
    --bg-color: #181818;
    --text-color: #f0f0f0;
    --button-bg: rgb(3, 89, 146);
    --button-hover-bg: #007BFF;
    --modal-bg: rgba(255, 255, 255, 0.1);
    --modal-content-bg: #333;
}

.wrapper {
    width: 80%;
    max-width: 800px;
    background-color: var(--bg-color);
    padding: 20px;
    box-shadow: 0 0 10px var(--box-shadow);
    text-align: center;
}

h2 {
    color: var(--text-color);
    font-size: 24px;
    margin-bottom: 30px;
}

.difficulty-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.difficulty-button {
    margin: 10px 0;
    padding: 15px 30px;
    background-color: var(--button-bg);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 200px;
}

.difficulty-button:hover {
    transform: scale(1.05);
    background-color: var(--button-hover-bg);
}

button {
    margin: 10px 0;
    padding: 15px 30px;
    background-color: #8d015e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 200px;
}

button:hover {
    transform: scale(1.05);
    background-color: #ff00aa;
}

/* Estilos para los botones de administrador */
.admin-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.admin-buttons button {
    margin: 10px 0;
    padding: 15px 30px;
    background-color: #5A67D8;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    width: 250px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.admin-buttons button:hover {
    transform: scale(1.05);
    background-color: #4C51BF;
}

/* Estilos para el modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--modal-bg); /* Fondo con transparencia */
    backdrop-filter: blur(5px); /* Difumina el fondo */
}

.modal-content {
    background-color: var(--modal-content-bg);
    margin: 15% auto; /* Centrado en la pantalla */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease-in-out; /* Animación suave de entrada */
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Estilo del botón para cerrar el modal */
.modal-content .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal-content .close:hover,
.modal-content .close:focus {
    color: #000;
}

/* Estilos de los inputs y el formulario dentro del modal */
.modal-content form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.modal-content form button {
    width: 100%;
    padding: 10px;
    background-color: #38B2AC;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-content form button:hover {
    background-color: #319795;
}


/* Estilos específicos para la selección de dificultad */
.difficulty-selection {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f7fafc; /* Color de fondo suave */
    border: 1px solid #e2e8f0; /* Borde ligero */
    border-radius: 5px;
}

.difficulty-selection label {
    flex: 1;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.difficulty-selection label:hover {
    background-color: #edf2f7; /* Color de fondo al pasar el ratón */
}

.difficulty-selection input[type="radio"] {
    margin-right: 5px;
    cursor: pointer;
}

/* Adaptaciones responsivas */
@media (max-width: 600px) {
    .modal-content {
        width: 90%;
    }

    .difficulty-selection {
        flex-direction: column;
    }

    .difficulty-selection label {
        padding: 5px;
    }
}