
body {
    font-family: system-ui;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}
.logo img {
    vertical-align: middle;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
main {
    margin: 20px;
}
.question-box {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}
.question {
    font-size: 18px;
    margin-bottom: 10px;
}
.option-button {
    display: block;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}
.option-button input[type="radio"] {
    display: none;
}
.option-button.selected {
    background-color: #e0f7fa;
    border-color: #00bcd4;
}
.option-button:hover {
    background-color: #f1f1f1;
}
.answer-button {
    text-align: center;
    margin-top: 20px;
}
.answer-button button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.answer-button button:hover {
    background-color: #45a049;
}