@import url('common.css');

:root {
  --bg-color: white;
  --text-color: #000;
  --button-bg: rgb(3, 89, 146);
  --button-hover-bg: #007BFF;
  --modal-bg: rgba(0, 0, 0, 0.4);
  --modal-content-bg: #fefefe;
  --submit-btn-bg: #218838;
  --submit-btn-hover-bg: #28a745;
}

/* Variables para el modo oscuro */
.dark-mode {
  --bg-color: #181818;
  --text-color: #f0f0f0;
  --button-bg: #444;
  --button-hover-bg: #888;
  --modal-bg: rgba(255, 255, 255, 0.1);
  --modal-content-bg: #333;
  --submit-btn-bg: #006400;
  --submit-btn-hover-bg: #00b300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 80%;
  max-width: 800px;
  background-color: var(--bg-color);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.tarjeta {
  margin-top: 20px;
  overflow: hidden;
  background-color: #333;
  color: white;
  border-radius: 15px;
}

.tarjeta .imagen {
  position: relative;
  width: 100%;
}

.tarjeta .imagen img {
  width: 100%;
  height: 450px; 
  display: block;
  border-radius: 10px 10px 0 0;
  object-fit: cover; 
}

.tarjeta .imagen h2 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
}

.tarjeta .footer {
  background-color: rgb(3, 89, 146);
  padding: 10px;
  position: relative;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tarjeta .footer h2 {
  font-size: 18px;
  margin: 0;
}

.tarjeta .footer button {
  background-color: var(--submit-btn-bg);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 15px;
}

.tarjeta .footer button:hover {
  transform: scale(1.05);
  background-color: var(--submit-btn-hover-bg);
}

a {
  text-decoration: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: var(--modal-content-bg);
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  text-align: center;
}

.close {
  color: #333;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #555;
}

.game-list {
  list-style-type: none;
  padding: 0;
}

.game-list li {
  padding: 10px;
  margin: 5px 0;
  background-color: #ddd;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.game-list li:hover {
  background-color: #ccc;
}


div.progress {
  width: 80%;
  margin: 10px auto;
  padding: 2px;
  height: 21px;
  border-radius: 5px;
  border: solid 3px #4e4e4e;
  background-color: #1e1e1e;
}

.progress {
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 10px;
}

#progress-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

#progress-wrapper h2 {
  margin-right: 20px; /* Para crear espacio entre el título y la barra */
}

#knowledge-bar-container {
  width: 100%; /* Ajusta el ancho de la barra según sea necesario */
  max-width: 300px; /* Puedes ajustar el tamaño máximo de la barra */
}

.track {
  background-color: #ddd;
  height: 20px;
  border-radius: 10px;
}
/*
.bar {
<<<<<<< Updated upstream
  width: 0; /* El ancho se ajustará dinámicamente 
  height: 30px;
=======
>>>>>>> Stashed changes
  background-color: #4caf50;
  height: 20px;
  border-radius: 10px;
  transition: width 0.5s ease;
}
