@import url('common.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  background-color: #f4f4f4;
  color: #333;
} 


main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  flex-direction: column;
}

.wrapper {
  width: 80%;
  max-width: 800px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.tarjeta {
  margin-top: 20px;
  overflow: hidden;
  background-color: #333;
  color: white;
  border-radius: 15px;
}

.tarjeta .imagen {
  position: relative;
  width: 100%;
}

.tarjeta .imagen img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px 10px 0 0;
}

.tarjeta .imagen h2 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
}

.tarjeta .footer {
  background-color: rgb(3, 89, 146);
  padding: 10px;
  position: relative;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tarjeta .footer h2 {
  font-size: 18px;
  margin: 0;
}

.tarjeta .footer button {
  background-color: #29ac02;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 15px;
}

.tarjeta .footer button:hover {
  background-color: #0056b3;
}


a {
  text-decoration: none;
}
