* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Motiva, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: rgb(3, 89, 146);
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

header .logo img {
    margin-right: 10px;
}

header h1 {
    font-size: 20px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin-right: 20px;
}

nav ul.left-nav {
    margin-right: auto;
}

nav ul.right-nav {
    margin-left: auto;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    flex-direction: column;
}

.wrapper {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.wrapper h2 {
    margin: 0;
    position: relative;
    top: 20px;
    left: 20px;
    font-size: 40px;
    color: #000;
}

.nomUsuario {
    position: absolute;
    top: 70px; /* Coincide con la parte superior del h2 */
    left: 160px; /* Ajusta este valor según sea necesario para centrar horizontalmente */
}

.nomUsuario h2 {
    margin: 0 0 10px 0;
    font-size: 20px;
    color: #000;
}

.cambiarNU {
    display: block;
    margin-top: 25px;
    margin-left: 20px;
    padding: 4px 8px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.cambiarNU:hover {
    background-color: #007bff;
}

.configuraciones {
    margin-bottom: 20px;
}

.modo {
    display: block;
    margin-top: 25px;
    padding: 4px 8px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 150px;
}

.modo:hover {
    background-color: #007bff;
}
