@import url('common.css');

/* Variables para el modo claro */
:root {
    --bg-color: white;
    --text-color: #000;
    --button-bg: rgb(3, 89, 146);
    --button-hover-bg: #007BFF;
    --modal-bg: rgba(0, 0, 0, 0.4);
    --modal-content-bg: #fefefe;
    --submit-btn-bg: #218838;
    --submit-btn-hover-bg: #28a745;
}

/* Variables para el modo oscuro */
.dark-mode {
    --bg-color: #181818;
    --text-color: #f0f0f0;
    --button-bg: #444;
    --button-hover-bg: #888;
    --modal-bg: rgba(255, 255, 255, 0.1);
    --modal-content-bg: #333;
    --submit-btn-bg: #006400;
    --submit-btn-hover-bg: #00b300;
}

/* Aplicando las variables */
.wrapper {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--bg-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.wrapper h2 {
    margin: 0;
    position: relative;
    top: 20px;
    left: 38px;
    font-size: 40px;
    color: var(--text-color);
}

.wrapper img {
    width: 180px;
    height: 180px;
}

.usuario {
    position: absolute;
    top: 70px; 
    left: 160px; 
}

.usuario h2 {
    margin: 0 0 10px 0;
    font-size: 20px;
    color: var(--text-color);
}

.cambiarNU, .cambiarCon {
    display: block;
    margin-top: 25px;
    margin-left: 38px;
    padding: 4px 8px;
    background-color: var(--button-bg);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.cambiarNU:hover, .cambiarCon:hover {
    transform: scale(1.05);
    background-color: var(--button-hover-bg);
}

.cambiar-modo {
    display: block;
    margin-top: 25px;
    margin-left: -103px;
    padding: 4px 8px;
    background-color: var(--button-bg);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.cambiar-modo:hover {
    transform: scale(1.05);
    background-color: var(--button-hover-bg);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--modal-bg);
    padding-top: 60px;
}

.modal-content {
    background-color: var(--modal-content-bg);
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
    text-align: center;
}

.modal-content label {
    font-size: 20px;
    color: var(--text-color);
}

.modal-content input {
    font-size: 20px;
    color: var(--text-color);
}

.modal-content h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    color: var(--text-color);
}

.modal-content button[type="submit"] {
    margin-left: 10px;
    margin-top: 20px;
    background-color: var(--button-bg);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.modal-content button[type="submit"]:hover {
    transform: scale(1.05);
    background-color: var(--button-hover-bg);
}
