@import url('common.css');

body {
    font-family: system-ui;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    flex-direction: column;
}

.wrapper {
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
  }

h1 {
    font-size: 40px;
    margin-bottom: 50px;
}

p {
    font-size: 25px;
    margin-bottom: 50px;
}

button {
    background-color: #218838;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
    background-color: #28a745;
}

