@import url('common.css');

/* Variables para el modo claro */
:root {
    --bg-color: white;
    --text-color: #000;
    --button-bg: rgb(3, 89, 146);
    --button-hover-bg: #007BFF;
    --modal-bg: rgba(0, 0, 0, 0.4);
    --modal-content-bg: #fefefe;
}

/* Variables para el modo oscuro */
.dark-mode {
    --bg-color: #181818;
    --text-color: #f0f0f0;
    --button-bg: #444;
    --button-hover-bg: #888;
    --modal-bg: rgba(255, 255, 255, 0.1);
    --modal-content-bg: #333;
}

.wrapper {
    width: 80%;
    max-width: 800px;
    background-color: var(--bg-color);
    padding: 30px;
    box-shadow: 0 4px 10px var(--box-shadow);
    border-radius: 8px;
    text-align: center;
}

h1 {
    font-size: 40px;
    margin-bottom: 50px;
    color: var(--text-color);
}

p {
    font-size: 25px;
    margin-bottom: 50px;
    color: var(--text-color);
}

button {
    background-color: var(--button-bg);
    color: var(--text-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
    background-color: var(--button-hover-bg);
}

.wrapper img {
    width: 680px;
    height: 380px;
}