@import url('common.css');

/* Estilos para el contenedor principal */
main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family:  system-ui;
  width: 100%;
  flex-grow: 1;
}

/* Estilos para el contenedor de la trivia */
.wrapper {
  width: 80%;
  max-width: 800px;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

/* Estilos para las preguntas */
.question {
  background-color: white;
  margin: 20px 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  font-size: 1.5em;
}

.question p {
  margin: 0 0 20px;
}

/* Estilos para el botón de respuesta */
.answer-button {
  width: 100%; /* Ancho al 100% del contenedor */
  height: 50px;
  background-color: #28a745; /* Verde */
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  margin: 10px 0; /* Margen superior e inferior de 10px */
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: transform 0.2s;
}

.answer-button:hover {
  background-color: #218838; /* Verde más oscuro al pasar el mouse */
}

/* Estilos para las opciones de respuesta */
.option-button {
  width: 100%; /* Ancho al 100% del contenedor */
  height: 50px;
  background-color: rgb(92, 92, 210);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  margin: 10px 0; /* Margen superior e inferior de 10px */
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: transform 0.2s;
}

.option-button:hover {
  transform: scale(1.05);
}

/* Asegurar que todo el botón se pinte de celeste cuando se seleccione */
.option-button input[type="radio"]:checked {
  background-color: #cceeff;  /* Celeste */
  border-color: #007BFF;
  color: #007BFF;
}
