@import url('common.css');

body {
  font-family: 'Motiva', sans;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; /* Ajusta el padding para dar más espacio a la izquierda */
  background-color: rgb(3, 89, 146); /* Ajusta el color según tu diseño */
}

header .logo {
  display: flex;
  align-items: center; /* Esto alinea la imagen y el texto verticalmente */
  margin-right: auto; /* Asegura que la logo esté a la izquierda */
}

header .logo img {
  margin-right: 5px; /* Ajusta el margen según sea necesario */
}

header .logo h1 {
  margin: 0;
}

header nav {
  display: flex;
}

header ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

header ul.left-nav, header ul.right-nav {
  display: flex;
}

header ul.left-nav li, header ul.right-nav li {
  margin: 0 10px;
}

header a {
  text-decoration: none;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

header a:hover {
  background-color: #007BFF;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  flex-direction: column;
}

.wrapper {
  width: 80%;
  max-width: 800px;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

h2 {
  color: #333;
  font-size: 30px;
  margin-bottom: 30px;
}

/* Estilos para las preguntas */
.question {
  background-color: #f5f5f5;
  margin: 20px 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  font-size: 1.5em;
}

.question p {
  margin: 0 0 20px;
}

.question b {
  color: #333;
  font-size: 25px;
  margin-bottom: 30px;
}

/* Estilos para el botón de respuesta */
.answer-button {
  width: 100%;
  height: 50px;
  background-color: #218838;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: transform 0.2s;
  border: 1px solid #ccc;
}

.answer-button:hover {
  transform: scale(1.05);
  background-color: #28a745;
}

.answer-button button{
  font-size: 16px;
  background-color: #218838;
  border: none;
  font-family: 'Motiva', sans;
  color: white;
}

.answer-button button:hover {
  transform: scale(1.05);
  background-color: #28a745;
}

/* Estilos para las opciones de respuesta */
.option-button {
  width: 100%;
  height: 50px;
  background-color: rgb(3, 89, 146);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
  margin: 10px 0;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: transform 0.2s;
}

.option-button:hover {
  transform: scale(1.05);
  background-color: #007BFF;
}

/* Asegurar que todo el botón se pinte de celeste cuando se seleccione */
.option-button input[type="radio"]:checked {
  background-color: #cceeff;  /* Celeste */
  border-color: #007BFF;
  color: #007BFF;
}
