<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn About Esports</title>
    <link rel="shortcut icon" type="image/x-icon" href="<%=url('favicon.png')%>">
    <link rel="stylesheet" type="text/css" href="<%=url('change_password.css')%>">
</head>
<body>
    <header>
        <div class="logo">
            <img src="<%=url('favicon.png')%>" width="50" height="50" alt="Logotipo de KnowAboutEsports" title="Logotipo hecho por el equipo de KnowAboutEsports">
            <h1><a href="/home">KnowAboutEsports</a></h1>
        </div>
        <nav>
            <ul class="left-nav">
                <li><a href="/home">Home</a></li>
                <li><a href="/perfil">Perfil</a></li>
            </ul>
            <ul class="right-nav">
                <li><a href="/logout">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="wrapper">
            <h2>¿Desea cambiar su contraseña?</h2>
            <form action="/change_password" method="post">
                <label for="newPassword">Nueva contraseña:</label>
                <input type="password" id="newPassword" name="newPassword" required>
                <label for="confirmPassword">Confirmar nueva contraseña:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>
                <button type="submit">Guardar</button>
            </form>
        </section>
    </main>
</body>
</html>
