<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - KnowAboutEsports</title>
    <link rel="shortcut icon" type="image/x-icon" href="assets/imagenes/favicon.ico">
    <link rel="stylesheet" href="styles/menu2.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="assets/imagenes/favicon.ico" width="50" height="50" alt="Logotipo de KnowAboutEsports" title="Logotipo hecho por el equipo de KnowAboutEsports">
            <h1>KnowAboutEsports</h1>
        </div>
        <nav>
            <ul class="left-nav">
                <li><a href="/home2">Home</a></li>
                <li><a href="/perfil">Perfil</a></li>
            </ul>
            <ul class="right-nav">
                <li><a href="/login">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="wrapper">
            <h2>Seleccione el juego que desee:</h2>
            <div class="tarjeta">
                <div class="imagen">
                    <img src="assets/imagenes/csgo.jpeg" alt="Imagen de CSGO">
                    <h2>CSGO</h2>
                </div>
                <div class="footer">
                    <h2>Progreso:</h2>
                    <button>Jugar</button>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
