<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn About Esports</title>
    <link rel="stylesheet" type ="text/css" href="<%=url('learn.css')%>">
</head>
<body>
    <header>
        <div class="logo">
            <img src="assets/imagenes/favicon.ico" width="50" height="50" alt="Logotipo de KnowAboutEsports" title="Logotipo hecho por el equipo de KnowAboutEsports">
            <h1><a href="/home">KnowAboutEsports</a></h1>
        </div>
        <nav>
            <ul class="left-nav">
                <li><a href="/home">Home</a></li>
                <li><a href="/perfil">Perfil</a></li>
            </ul>
            <ul class="right-nav">
                <li><a href="/login">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <details>
            <summary>Principiante</summary>
            <p>Contenido para principiantes...</p>
        </details>

        <details>
            <summary>Casual</summary>
            <p>Contenido casual...</p>
        </details>

        <details>
            <summary>Profesional</summary>
            <p>Contenido para profesionales...</p>
        </details>

        <details>
            <summary>Examen Final</summary>
            <p>Contenido del examen final...</p>
        </details>
    </main>
</body>
</html>

