<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Register </title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon"  href="<%= url('favicon.png') %>">
    <link rel="stylesheet" type ="text/css" href="<%=url('sign.css')%>">
</head>
<body>
        <main>
            <div class="contenedor__todo">
                <div class="caja__trasera">
                    <div class="caja__trasera-login">
                        <h3>¿Ya tienes una cuenta?</h3>
                        <p>Inicia sesión para entrar en la página</p>
                        <button id="btn__iniciar-sesion">Iniciar Sesión</button>
                    </div>
                    <div class="caja__trasera-register">
                        <h3>¿Aún no tienes una cuenta?</h3>
                        <p>Regístrate para que puedas iniciar sesión</p>
                        <button id="btn__registrarse">Regístrarse</button>
                    </div>
                </div>
                <!--Formulario de Login y registro-->
                <div class="contenedor__login-register">
                    <!--Login-->
                    <form action="/login" class="formulario__login" method="post">
                        <h2>Iniciar Sesión</h2>
                    <div class="form-group">
                        <input type="text" id="nickname" name="nickname" required placeholder="Nombre de Usuario">
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" name="password" required placeholder="Contraseña">
                    </div>
                    <button type="submit">Iniciar Sesión</button>
                    </form>
                    <!--Register-->
                    <form action="/signup" class="formulario__register" method="post">
                        <h2>Regístrarse</h2>
                        <div class="form-group">
                            <input type="email" id="email" name="email" required placeholder="Correo Electronico">
                        </div>
                        <div class="form-group">
                            <input type="text" id="name" name="name" required placeholder="Nombre">
                        </div>
                        <div class="form-group"> 
                            <input type="text" id="nickname" name="nickname" required placeholder="Nombre de Usuario"> 
                        </div>
                        <div class="form-group">
                            <input type="password" id="password" name="password" required placeholder="Contraseña">
                        </div>
                        <button type="submit">Registrarse</button>
                    </form>
                </div>
            </div>
        </main>
        <script>
            //Ejecutando funciones
            document.getElementById("btn__iniciar-sesion").addEventListener("click", iniciarSesion);
            document.getElementById("btn__registrarse").addEventListener("click", register);
            window.addEventListener("resize", anchoPage);

            //Declarando variables
            var formulario_login = document.querySelector(".formulario__login");
            var formulario_register = document.querySelector(".formulario__register");
            var contenedor_login_register = document.querySelector(".contenedor__login-register");
            var caja_trasera_login = document.querySelector(".caja__trasera-login");
            var caja_trasera_register = document.querySelector(".caja__trasera-register");

            //FUNCIONES
            function anchoPage(){
                if (window.innerWidth > 850){
                    caja_trasera_register.style.display = "block";
                    caja_trasera_login.style.display = "block";
                }else{
                    caja_trasera_register.style.display = "block";
                    caja_trasera_register.style.opacity = "1";
                    caja_trasera_login.style.display = "none";
                    formulario_login.style.display = "block";
                    contenedor_login_register.style.left = "0px";
                    formulario_register.style.display = "none";   
                }
            }

            anchoPage();
                function iniciarSesion(){
                if (window.innerWidth > 850){
                    formulario_login.style.display = "block";
                    contenedor_login_register.style.left = "10px";
                    formulario_register.style.display = "none";
                    caja_trasera_register.style.opacity = "1";
                    caja_trasera_login.style.opacity = "0";
                }else{
                    formulario_login.style.display = "block";
                    contenedor_login_register.style.left = "0px";
                    formulario_register.style.display = "none";
                    caja_trasera_register.style.display = "block";
                    caja_trasera_login.style.display = "none";
                }
            }
            function register(){
                if (window.innerWidth > 850){
                    formulario_register.style.display = "block";
                    contenedor_login_register.style.left = "410px";
                    formulario_login.style.display = "none";
                    caja_trasera_register.style.opacity = "0";
                    caja_trasera_login.style.opacity = "1";
                }else{
                    formulario_register.style.display = "block";
                    contenedor_login_register.style.left = "0px";
                    formulario_login.style.display = "none";
                    caja_trasera_register.style.display = "none";
                    caja_trasera_login.style.display = "block";
                    caja_trasera_login.style.opacity = "1";
                }
            }
        </script>
</body>
</html>