<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivia Casual - KnowAboutEsports</title>
    <link rel="shortcut icon" type="image/x-icon" href="../assets/imagenes/favicon.ico">
    <link href="../styles/test.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <div class="logo">
            <img src="../assets/imagenes/favicon.ico" width="50" height="50" alt="Logotipo de KnowAboutEsports" title="Logotipo hecho por el equipo de KnowAboutEsports">
            <h1>KnowAboutEsports</h1>
        </div>
        <nav>
            <ul class="left-nav">
                <li><a href="/home">Home</a></li>
                <li><a href="/perfil">Perfil</a></li>
            </ul>
            <ul class="right-nav">
                <li><a href="/login">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="wrapper">
            <h2>Bienvenido a la trivia de nivel CASUAL</h2>
            <div class="concep">
                <h2>Seleccione el concepto que desee aprender</h2>
                <button class="con1">Wallbang</button>
                <button class="con2">Site</button>
                <button class="con3">Spot</button>
                <button class="con4">Retake</button>
                <button class="con5">Tradekill</button>
                <button class="sig">Siguiente</button>
            </div>
        </section>
    </main>
</body>
</html>